body {
  margin: 0;
  padding: 0;
}

/* header - navegador  */
header {
  background: linear-gradient(135deg, #ff00d4, #00ccff);
  padding: 10px;
  height: 100vh;
  text-align: center;
  color: #fff;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
  font-size: 3em;
  margin: 20px;
  padding-top: 30px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: rgb(255, 255, 255);
}

header p {
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 20px;
  line-height: 1.6;
  color: rgb(240, 240, 240);
}

nav {
  margin: 30px;
  padding: 50px;
  border-radius: 10px;
}

.navbar-brand {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-brand:hover {
  color: rgb(238, 85, 15);
}

.nav-link {
  color: rgb(58, 2, 2);
  font-size: 1.1em;
  padding: 10px 10px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* fin navegador */

.inicio-desc {
  text-align: left;
}

.inicio-desc p {
  display: inline-block;
  width: 410px;
  padding-left: 50px;
}

.img-inicio

/* imagen inicio */
.img-inicio {
  padding-bottom: 50px;
}

.img-inicio img {
  width: 150px;
  height: 180px;
  border-radius: 50%;
}

/* modal emergente */
body {
  background-color: #081420;
}

.my-layout {
  width: 100%;

  cursor: pointer;
}

.row {
  display: flex;
}

.col-right {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.col-left {
  width: 50%;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.full-width {
  padding: 10px;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 20px;
}

.modal-content button {
  background-color: transparent;
  width: 32px;
  font-weight: bold;
  font-size: 22px;
}

.modal-content button:hover {
  color: #fa0303;
  font-weight: bold;
  font-size: 22px;
}

/* Estilos opcionales */
.col-left {
  background-color: rgba(135, 31, 161, 0.753);
}

.col-right {
  background-color: #11ad71ee;
}

.full-width {
  background-color: #ca71a8;
}

/* titulo proyecto */
.titulo-proyecto {
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  color: wheat;
}

/* fin modal */

/* habilidades */
#habilidades {
  padding: 110px;
  text-align: center;
  margin-top: 20px;
}

#habilidades .d-flex {
  justify-content: space-around;
  align-items: center;
}

#habilidades .mx-2 {
  transition: transform 0.3s ease;
}

#habilidades .mx-2:hover {
  transform: scale(1.1);
}

.custom-img {
  height: 50px;
  max-width: 100%;
  border-radius: 8px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  #habilidades .d-flex {
    flex-direction: column;
  }

  #habilidades .mx-2 {
    margin-bottom: 10px;
  }
}

#contacto {
  background-color: hwb(0 100% 0%);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 200px auto;
  
}


#contactForm {
  display: flex;
  flex-direction: column;
  
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

textarea.form-control {
  resize: vertical;
  min-height: 150px;
}

.btn-primary {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* footer */
footer {
  background-color: hwb(210 20% 75%);
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  font-size: 14px;
  border-top: 2px solid #007bff;
}

footer p {
  margin: 0;
}

footer p:hover {
  color: #adb5bd;
}

html {
  scroll-behavior: smooth;
}
